<!DOCTYPE html>
<html ng-app=Resume>
<head>
	<title>Resume</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="./resume.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="./resume.js"></script>
</head>

<body>
	<div class="container" id="main" ng-controller="resumeController">
		<input type="text" ng-model="search"/><br>
		<div class="h1" ng-show="edus.length">Education</div>
		<div id="education" ng-repeat="edu in edus = (resumeData.education | filter:search)">
			<div class="h3">{{edu.degree}} - {{edu.major}}</div>
			{{edu.school}} ({{edu.year}})<br>
			<div class="courses" ng-if="edu.courses.length">
				<div class="subheading">Courses:</div>
				<table class="courses-table"><tr>
					<td><ul>
						<li ng-repeat="course in edu.courses" ng-if="$even">{{course}}</li>
					</ul></td><br>
					<td><ul>
						<li ng-repeat="course in edu.courses" ng-if="$odd">{{course}}</li>
					</ul></td><br>
				</tr></table>
			</div>
		</div>

		<div class="h1" ng-show="exps.length">Experience</div>
		<div class="experience" ng-repeat="exp in exps = (resumeData.experience | filter:search)">
			<div class="h3 title">{{exp.title}}</div>
			<div class="h4 workplace">{{exp.workplace}}</div>
			<div class="h4 time">{{exp.from}} - {{exp.to}}</div>
			<div class="content"><ul>
				<li ng-repeat="entry in exp.achievements">{{entry}}</li>
			</ul></div>
			<div class="links" ng-if="exp.links.length">
				<div>Link(s): </div>
				<div class="link" ng-repeat="link in exp.links"><a href={{link.url}}>{{link.title}}</a></div>
			</div>
			<div class="technologies" ng-if="exp.technologies.length">
				<div>Technology: </div>
				<div class="tech" ng-repeat="tech in exp.technologies">{{tech}}</div>
			</div>
		</div>

		<div class="h1" ng-show="projects.length">Projects</div>
		<div class="projects" ng-repeat="project in projects = (resumeData.projects | filter:search)">
			<div class="h3 title">{{project.title}}</div>
			<div class="h4 time" ng-if="project.time.length">{{project.time}}</div>
			<div class="blurb content" ng-if="project.blurb.length">{{project.blurb}}</div>
			<div class="content" ng-if="project.description.length">{{project.description}}</div>
			<div class="links" ng-if="project.links.length">
				<div>Link(s): </div>
				<div class="link" ng-repeat="link in project.links"><a href={{link.url}}>{{link.title}}</a></div>
			</div>
			<div class="technologies" ng-if="project.technologies.length">
				<div>Technology: </div>
				<div class="tech" ng-repeat="tech in project.technologies">{{tech}}</div>
			</div>
		</div>
	</div>
</body>
</html>
