<!DOCTYPE html>
<html ng-app=Resume>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Resume</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway:500italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="./resume.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="./resume.js"></script>
</head>

<body>
	<div class="container" id="main" ng-controller="resumeController">
		<input type="text" autofocus="autofocus" placeholder="Search resume" ng-model="search"/><br>

		<div class="section head">
			<div class="h1">{{resumeData.personal_info.name}}</div>
			<div class="subheading" ng-if="resumeData.personal_info.email.length">{{resumeData.personal_info.email}}</div>
			<div class="subheading" ng-if="resumeData.personal_info.phone.length">{{resumeData.personal_info.phone}}</div>
			<div class="links" ng-if="resumeData.personal_info.links.length">
				<div class="link" ng-repeat="link in resumeData.personal_info.links">
					<a href={{link.url}}>{{link.title}}</a>
				</div>
			</div>
		</div>

		<div class="section" ng-show="edus.length">
			<div class="h1">Education</div>
			<div class="education subsection" ng-repeat="edu in edus = (resumeData.education | filter:search | lowercase)">
				<div class="h3">{{edu.degree}} - {{edu.major}}</div>
				<div class="h4 workplace">{{edu.school}}</div>
				<div class="h4 time">{{edu.year}}</div>
				<div class="courses" ng-if="edu.courses.length">
					<div class="subheading content">Courses:</div>
					<table class="courses-table table content"><tr>
						<td class="col-md-3"><ul>
							<li ng-repeat="course in edu.courses" ng-if="$even">{{course}}</li>
						</ul></td>
						<td class="col-md-3"><ul>
							<li ng-repeat="course in edu.courses" ng-if="$odd">{{course}}</li>
						</ul></td>
					</tr></table>
				</div>
			</div>
		</div>

		<div class="section" ng-show="exps.length">
			<div class="h1">Experience</div>
			<div class="experience subsection" ng-repeat="exp in exps = (resumeData.experience | filter:search | lowercase)">
				<div class="h3 title">{{exp.title}}</div>
				<div class="h4 workplace">{{exp.workplace}}</div>
				<div class="h4 time">{{exp.time}}</div>
				<div class="content"><ul>
					<li ng-repeat="entry in exp.achievements">{{entry}}</li>
				</ul></div>
				<div class="links" ng-if="exp.links.length">
					<div class="subheading">Link(s): </div>
					<div class="link" ng-repeat="link in exp.links"><a href={{link.url}}>{{link.title}}</a></div>
				</div>
				<div class="technologies" ng-if="exp.technologies.length">
					<div class="subheading">Technology: </div>
					<div class="tech" ng-repeat="tech in exp.technologies">{{tech}}</div>
				</div>
			</div>
		</div>

		<div class="section" ng-show="projects.length">
			<div class="h1">Projects</div>
			<div class="projects subsection" ng-repeat="project in projects = (resumeData.projects | filter:search | lowercase)">
				<div class="h3 title">{{project.title}}</div>
				<div class="h4 time" ng-if="project.time.length">{{project.time}}</div>
				<div class="blurb content" ng-if="project.blurb.length">{{project.blurb}}</div>
				<div class="content" ng-if="project.description.length">{{project.description}}</div>
				<div class="links" ng-if="project.links.length">
					<div class="subheading">Link(s): </div>
					<div class="link" ng-repeat="link in project.links"><a href={{link.url}}>{{link.title}}</a></div>
				</div>
				<div class="technologies" ng-if="project.technologies.length">
					<div class="subheading">Technology: </div>
					<div class="tech" ng-repeat="tech in project.technologies">{{tech}}</div>
				</div>
			</div>
		</div>

		<div class="section" ng-show="skillsets.length">
			<div class="h1">Skills</div>
			<div class="skills subsection" ng-repeat="skillset in skillsets = (resumeData.skills | filter:search | lowercase)" ng-if="(skillset.skills | filter:search | lowercase).length">
				<div class="h3">{{skillset.title}}</div>
				<div class="technologies">
					<div class="tech h4" ng-repeat="skill in skills = (skillset.skills | filter:search | lowercase)">
						{{skill}}</div>
				</div>
			</div>
		</div>

		<div class="section" ng-show="extracurriculars.length">
			<div class="h1">Extracurriculars</div>
			<div class="extracurriculars subsection" ng-repeat="extra in extracurriculars = (resumeData.extracurriculars | filter:search | lowercase)">
				<div class="h3 title">{{extra.title}}</div>
				<div class="h4 time" ng-if="extra.time.length">{{extra.time}}</div>
				<div class="content" ng-if="extra.description.length"><ul>
					<li ng-repeat="item in extra.description">{{item}}</li>
				</ul>
				</div>
				<div class="content" ng-if="extra.details.length">
					{{extra.details}}
				</div>
				<div class="links" ng-if="extra.links.length">
					<div class="subheading">Link(s): </div>
					<div class="link" ng-repeat="link in extra.links"><a href={{link.url}}>{{link.title}}</a></div>
				</div>
			</div>
		</div>

		<div class="section" ng-show="honors.length">
			<div class="h1">Honors</div>
			<div class="honors subsection" ng-repeat="honor in honors = (resumeData.honors | filter:search | lowercase)">
				<div class="h3">{{honor.title}}</div>
				<div class="content blurb">{{honor.details}}</div>
			</div>
		</div>
	</div>
</body>
</html>
