@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

* {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #1ABC9C;
}
div {
    margin-bottom: 0.5em;
}
.container {
    padding-top: 3em;
    padding-bottom: 3em;
}
.section {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #FDFEFE;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
.head {
    text-align: center;
    width: 100%;
}
.subsection {
    padding-left: 3em;
    padding-right: 3em;
    border-top: 1px solid #CACFD2;
}
.section .h1 {
    padding-left: 1em;
    padding-right: 0.5em;
}
.h3, .projects .h4, .extracurriculars .h4 {
    margin-top: 0.5em;
}
.skills .h3 {
    margin-bottom: 0.5em;
}
.h4 {
    margin-top: 0em;
}


.subheading {
    font-weight: bold;
}
.h3 {
    margin-bottom: 0px;
}
.table td, .table th {
    border: none !important;
}


.workplace, .time, .links div, .technologies div {
    display: inline-block;
}
.workplace, .projects .title, .extracurriculars .title {
    float: left;
}
.time {
    float: right;
}
.content {
    clear: both;
}
.link {
    background-color: #AED6F1;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-radius: 10%;
}

/* project content */
.blurb {
    font-style: italic;
}
.tech {
    background-color: #BB8FCE;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-radius: 10%;
}
